<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card card-default">
                    <div class="card-header">Conversations</div>

                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="conversation in conversations">
                                <a :href="`/messages/${conversation.id}`" class="conversation" v-if="conversation.sender.id === sender.id">{{conversation.receiver.name}}</a>
                                <a :href="`/messages/${conversation.id}`" class="conversation" v-else>{{conversation.sender.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-default">
                    <div class="card-header">Chat Area</div>

                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="message in messages">
                                <span class="float-left" v-if="message.sender.id !== sender.id">
                                    <strong>{{message.sender.name}}:</strong> {{message.message}}
                                </span>
                                <span class="float-right" v-else>
                                    {{message.message}} <strong>{{message.sender.name}}</strong>
                                </span>
                            </li>
                        </ul>
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1"></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" v-model="message" rows="3"></textarea>
                            </div>
                            <button class="btn btn-primary float-right" @click.prevent="sendMessage">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:["sender", "conversation_id"],
        data(){
            return {
                conversations:[],
                messages:[],
                receiver:{
                    id: '',
                    name: '',
                    email: ''
                },
                message:''
            }
        },
        mounted() {
            this.getUsers();
            this.getReceiver();
            this.getMessages();
        },
        methods:{
            getUsers(){
                axios.get("/api/users/get", {
                    params:{
                        user_id: this.sender.id
                    }
                }).then(response => {
                    this.conversations = response.data;
                }).catch(error => {
                    console.log(error)
                })
            },
            getMessages(){
                axios.get("/api/messages/get", {
                    params:{
                        conversation_id: this.conversation_id
                    }
                }).then( response => {
                    this.messages = response.data;
                }).catch( error => {
                    console.log(error)
                })
            },
            getReceiver(){
                axios.get("/api/receiver/get", {
                    params:{
                        sender_id: this.sender.id,
                        conversation_id: this.conversation_id
                    }
                }).then(response => {
                    this.receiver = response.data;
                }).catch(error => {
                    console.log(error)
                })
            },
            sendMessage(){
                if(!this.message){
                    return false;
                }
                axios.post("/api/messages/post", {
                    conversation_id: this.conversation_id,
                    sender_id: this.sender.id,
                    receiver_id: this.receiver.id,
                    message: this.message
                }).then(response => {
                    this.messages.push(response.data)
                    this.message = "";
                }).catch(error => {
                    console.log(error)
                })
            }
        }
    }
</script>

<style scoped>
    .conversation{
        display: block
    }
</style>
